---
layout: default
---

<div class="home"><div class="col-sm-2" style="width: 200px; margin-left: auto; margin-right: auto;">
<img src="assets/myphoto.jpg" alt="meng_img" width="200" class="profile" />
</div>
<section class="section summary-section">
    <h2 class="section-title">About Me</h2>
    <div class="summary">
        <p> I am now a Postdoc in Zhejiang Univeristy advised by <a href="http://person.zju.edu.cn/en/0087125">Prof.Shanping Li</a> and <a href="https://xin-xia.github.io/">Dr. Xin Xia</a>. I got my Ph.D degree in June 2017 under the supervision of Prof. Xiaohong Zhang from Chongqing University, China.</p>
    
        <p>My currently research foucuses on how to improve developers' productivity, how to improve software quality and how to reduce the effort during software development by analyzing rich software repository data. In terms of the techniques, I am interested in adopting different data analytics techniques, including data mining, information retrieval, machine learning and program analysis.</p>
    </div><!--//summary-->
</section><!--//section-->

<section class="section experiences-section">
        <h2 class="section-title">Experiences</h2>
                    <div class="item">
                            <div class="meta">
                                <div class="upper-row">
                                    <h3 class="job-title">Vsiting Scholar</h3>
                                    <div class="time">2018.5 - 2018.10</div>
                                </div><!--//upper-row-->
                                <div class="company">Alibaba Group, Hangzhou, China</div>
                            </div><!--//meta-->
                    </div><!--//item-->
    
                    <div class="item">
                        <div class="meta">
                            <div class="upper-row">
                                <h3 class="job-title">PostDoc</h3>
                                <div class="time">2017.7 - Present</div>
                            </div><!--//upper-row-->
                            <div class="company">Zhejiang Univeristy, Hangzhou, China</div>
                        </div><!--//meta-->
                    </div><!--//item-->
              </section><!--//section-->

<section class="section experiences-section">
    <h2 class="section-title">Education</h2>
                
          <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">PhD in Software Engineering</h3>
                          <div class="time">2013.9 - 2017.6</div>
                      </div>
                      <div class="company">Chongqing University, Chongqing, China</div>
                  </div><!--//meta-->
          </div><!--//item-->
          <div class="item">
                  <div class="meta">
                      <div class="upper-row">
                          <h3 class="job-title">MSc in Software Engineering</h3>
                          <div class="time">2011.9 - 2013.6</div>
                      </div>
                      <div class="company">Chongqing University, Chongqing, China</div>
                  </div><!--//meta-->
          </div><!--//item-->
          <div class="item">
              <div class="meta">
                  <div class="upper-row">
                      <h3 class="job-title">Bsc in Software Engineering</h3>
                      <div class="time">2007.9 - 2011.7</div>
                  </div>
                  <div class="company">Chongqing University, Chongqing, China</div>
              </div><!--//meta-->
      </div><!--//item-->

  </section><!--//section-->

